body{
    margin: 0;
    padding: 0;
    background: url(wallpaprer.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.chatbot{
    width: 380;
    height: 520;
    background: #000;
    color: #fff;
    top: 10%;
    left: 35%;
    position: absolute;
    transform: tranlate(-50%,-50%)

}

